@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=EB+Garamond:wght@400;700&display=swap');


* {
    font-family: 'EB Garamond', serif;
}

body {
    background: linear-gradient(to right, rgb(209, 212, 204), rgba(232, 189, 137, 0.714) 75%);
    
}

.main {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh -5rem);
}

.dorothy {
    background-color: #caf7c8;
    top: 0;
    z-index: 10;
    height: 450px;
    margin: 0 auto;
    background-image: url('https://i.imgur.com/fQx1rrp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    filter: grayscale(100%);
    animation-name: greyToColor;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes greyToColor {
    0% {filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);}
    20% {filter: grayscale(80%); -webkit-filter: grayscale(80%); -moz-filter: grayscale(80%);}
    40% {filter: grayscale(60%); -webkit-filter: grayscale(60%); -moz-filter: grayscale(60%);}
    60% {filter: grayscale(40%); -webkit-filter: grayscale(40%); -moz-filter: grayscale(40%);}
    80% {filter: grayscale(20%); -webkit-filter: grayscale(20%); -moz-filter: grayscale(20%);}
    100% {filter: grayscale(0%); -webkit-filter: grayscale(0%); -moz-filter: grayscale(0%);}
}

.lead {
    font-weight: 400;
    margin-top: -1.5%;
}

.photobox {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
    border-bottom: 1px dotted #e6e6e6;
}

.testimage {
    width: 250px;
    border: 2px inset white;
    border-radius: 8px;
    margin: 5px;
}

p {
    font-size: 18px;

}

.contactform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    padding: 1%;
    margin: 0 auto;
}

.label {
    font-weight: bold;
}

.input {
    border-radius: 8px;
    border: 1.5px inset black;
    width: 50%;
    box-shadow: 1px 1px 2px #caf7c8;
    padding: 1%;
    margin: 1%;
}

.button {
    padding: 1% 2%;
    margin: 1%;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #caf7c8;
    font-weight: bold;
    background-color: #285130;
    color: #caf7c8;
}

.button:hover {
    box-shadow: -1px -1px 2px #caf7c8;

}

.button:active {
    box-shadow: none;
}

@media only screen and (max-width: 400px) {
    .dorothy {
        /* width: 100%; */
        background-image: url(https://i.imgur.com/tL1s0TG.jpg);
        background-size: contain;
        background-color: black;
    }

    .photobox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}