@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=EB+Garamond:wght@400;700&display=swap');


.footer {
    display: flex;
    align-items: center;
    background-color: #285130;
    padding: 1%;
}

.p {
    background-color: #285130;
    font-size: 1rem;
    color: white;
}

.footer > p:nth-child(2) {
    margin-left: auto;
}

#small {
    font-size: .8rem;
}